
TestProjectBookStore/.vs/config/applicationhost.config
TestProjectBookStore/.vs/TestProjectBookStore/v15/.suo
TestProjectBookStore/.vs/TestProjectBookStore/v15/Server/sqlite3/storage.ide-shm
TestProjectBookStore/.vs/TestProjectBookStore/v15/Server/sqlite3/storage.ide-wal
TestProjectBookStore/BS.Business/bin/Debug/BS.Business.dll
TestProjectBookStore/BS.Business/bin/Debug/BS.Business.pdb
TestProjectBookStore/BS.Business/bin/Debug/BS.Data.dll
TestProjectBookStore/BS.Business/bin/Debug/BS.Data.pdb
TestProjectBookStore/BS.Business/obj/Debug/BS.Business.csproj.CoreCompileInputs.cache
TestProjectBookStore/BS.Business/obj/Debug/BS.Business.csproj.FileListAbsolute.txt
TestProjectBookStore/BS.Business/obj/Debug/BS.Business.csprojAssemblyReference.cache
TestProjectBookStore/BS.Business/obj/Debug/BS.Business.dll
TestProjectBookStore/BS.Business/obj/Debug/BS.Business.pdb
TestProjectBookStore/BS.Data/bin/Debug/BS.Data.dll
TestProjectBookStore/BS.Data/bin/Debug/BS.Data.pdb
TestProjectBookStore/BS.Data/obj/Debug/BS.Data.csproj.CoreCompileInputs.cache
TestProjectBookStore/BS.Data/obj/Debug/BS.Data.csproj.FileListAbsolute.txt
TestProjectBookStore/BS.Data/obj/Debug/BS.Data.csprojAssemblyReference.cache
TestProjectBookStore/BS.Data/obj/Debug/BS.Data.dll
TestProjectBookStore/BS.Data/obj/Debug/BS.Data.pdb
TestProjectBookStore/BS.UI/bin/BS.Business.dll
TestProjectBookStore/BS.UI/bin/BS.Business.pdb
TestProjectBookStore/BS.UI/bin/BS.UI.dll
TestProjectBookStore/BS.UI/BS.UI.csproj.user
TestProjectBookStore/BS.UI/bin/BS.UI.pdb
TestProjectBookStore/BS.UI/obj/Debug/BS.UI.csproj.CoreCompileInputs.cache
TestProjectBookStore/BS.UI/obj/Debug/BS.UI.csproj.FileListAbsolute.txt
TestProjectBookStore/BS.UI/obj/Debug/BS.UI.csprojAssemblyReference.cache
TestProjectBookStore/BS.UI/obj/Debug/BS.UI.dll
TestProjectBookStore/BS.UI/obj/Debug/BS.UI.pdb
