body--padding {
  padding-top: 50px;
  padding-bottom: 20px; }

body--color {
  background-color: #59020b; }

li--inline-block {
  display: inline-block; }

a--white-text {
  color: white; }

a--primary-color {
  font-size: 14px;
  background-color: #8E1233; }

nav--margin {
  margin: 20px; }

nav--border-radius {
  border-radius: 50px; }

nav--bg-color {
  background-color: #59020b; }

.button--primary-color {
  background-color: #8E1233; }
  .button--primary-color:hover {
    background-color: #ed9393; }

.navbar-brand--white {
  color: white; }

.body-content--padding {
  padding-left: 15px;
  padding-right: 15px; }

.navbar-header--white {
  color: white; }

.navbar-header--margin {
  margin-right: 10px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

.select2 {
  width: 100%; }

th,
td {
  white-space: nowrap; }

div.dataTables_wrapper {
  width: 600px;
  margin: 0 auto; }
