.p-top-50 {
  padding-top: 50px; }

.p-bott-50 {
  padding-bottom: 20px; }

.bg-c-main {
  background-color: #d5e0d2; }

.c-white {
  color: white; }

.display-inline-block {
  display: inline-block; }

.f-s-standart {
  font-size: 14px; }

.bg-c-primary {
  background-color: #8E1233; }

.bg-c-secondary {
  background-color: #ed9393; }

.m-nav {
  margin: 20px; }

.border-rad-50 {
  border-radius: 50px; }

.bg-c-standart {
  background-color: #59020b; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

.white-space-normal {
  white-space: normal; }

.white-space-nowrap {
  white-space: nowrap; }

.max-w-280 {
  max-width: 280px; }

m-r-10 {
  margin-right: 10px; }

w-100-per {
  width: 100%; }

w-600 {
  width: 600px; }

m-0-auto {
  margin: 0 auto; }

ul li a {
  color: white; }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #d5e0d2; }

ul li {
  display: inline-block; }
  ul li a {
    font-size: 14px;
    background-color: #8E1233; }

nav {
  margin: 20px;
  border-radius: 50px;
  background-color: #59020b; }

.odd {
  background-color: #59020b; }

.even {
  background-color: #59020b; }

#book-table {
  background-color: #59020b; }

.btn {
  background-color: #8E1233; }
  .btn:hover {
    background-color: #ed9393; }

.navbar-brand {
  color: white; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.dl-horizontal dt {
  white-space: normal; }

input,
select,
textarea {
  max-width: 280px; }

#navbar_header {
  color: white;
  margin-right: 10px; }

.select2 {
  width: 100%; }

th,
td {
  white-space: nowrap; }

div.dataTables_wrapper {
  width: 600px;
  margin: 0 auto; }
