@import '_mixins.scss';
@import '_variables.scss';



body--padding {
    padding-top: 50px;
    padding-bottom: 20px;
}
body--color {
    background-color: $body-bg-color;
}

li--inline-block {
    display: inline-block;
}

a--white-text {
    color: white;
}

a--primary-color {
    @include setTextColorAndSize($primary-color, 14px);
}

nav--margin {
    margin: $nav-margin;
}

nav--border-radius {
    border-radius: 50px;
}

nav--bg-color {
    background-color: $bg-color;
}



.button--primary-color {
    background-color: $primary-color;

    &:hover {
        background-color: $secondary-color;
    }
}
.navbar-brand--white {
    color: white;
}
.body-content--padding {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-header--white {
    color: white;
}

.navbar-header--margin {
    margin-right: 10px;
}





.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.select2 {
    width: 100%;
}

th,
td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    width: 600px;
    margin: 0 auto;
}
