@import '_mixins.scss';
@import '_variables.scss';

.p-top-50 {
    padding-top: 50px;
}

.p-bott-50 {
    padding-bottom: 20px;
}

.bg-c-main {
    background-color: $main-bg-color;
}

.c-white {
    color: white;
}

.display-inline-block {
    display: inline-block;
}

.f-s-standart {
    font-size: $std-font-size;
}

.bg-c-primary {
    background-color: $primary-color;
}

.bg-c-secondary {
    background-color: $secondary-color;
}

.m-nav {
    margin: $nav-margin;
}

.border-rad-50 {
    border-radius: 50px;
}

.bg-c-standart {
    background-color: $bg-color;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.white-space-normal {
    white-space: normal;
}

.white-space-nowrap {
    white-space: nowrap;
}

.max-w-280 {
    max-width: 280px;
}

m-r-10{
    margin-right: 10px;
}

w-100-per{
    width: 100%;
}

w-600 {
    width: 600px;
}

m-0-auto {
    margin: 0 auto;
}

//Old
/*%white-text {
    color: white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d5e0d2;
}

ul {
    li {
        display: inline-block;

        a {
            @extend %white-text;
            @include setTextColorAndSize($primary-color, $std-font-size);
        }
    }
}

nav {
    margin: $nav-margin;
    border-radius: 50px;
    background-color: $bg-color;
}

@each $row in odd, even {
    .#{$row} {
        background-color: $bg-color;
    }
}

#book-table {
    background-color: $bg-color;
}

.btn {
    background-color: $primary-color;

    &:hover {
        background-color: $secondary-color;
    }
}
.navbar-brand {
    color: white;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

#navbar_header {
    color: white;
    margin-right: 10px;
}



.select2 {
    width: 100%;
}

th,
td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    width: 600px;
    margin: 0 auto;
}*/
