<div class="modal" id="create-book-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-book-form" data-url=@Url.Action("Create", "Book")>
                    <div class="form-group">
                        <label for="create-book-title">Title: </label>
                        <input type="text" class="form-control max-w-280" id="create-book-title" name="Title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="create-book-authors">Authors: </label>
                    </div>
                    <div class="form-group">
                        <select id="create-book-authors" class="form-control max-w-280" name="Authors[]" multiple="multiple" data-bind="options: allauthors, optionsText: 'FullName', optionsValue: 'AuthorId'"></select>
                    </div>
                    <div class="form-group">
                        <label for="create-book-date">Release date: </label>
                        <input type="date" class="form-control max-w-280" id="create-book-date" name="ReleaseDate" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="create-book-rating">Rating: </label>
                        <input type="number" class="form-control max-w-280" id="create-book-rating" name="Rating" placeholder="Enter title" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label for="create-book-pagecount">Pagecount: </label>
                        <input type="number" class="form-control max-w-280" id="create-book-pagecount" name="Pagecount" placeholder="Enter number of pages">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="book-create-submit" type="button" class="btn btn-primary bg-c-primary">Save changes</button>
                <button type="button" class="btn btn-secondary bg-c-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.select-author').select2();
    })

    //$(document).on("click", "#book-create-submit", null, function (ev) {
    //    BookManagement.OnCreateSubmitClick();
    //})
</script>