<div class="modal add-author-module" id="create-author-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new author</h5>
                <button type="button" class="close button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-author-form" data-url=@Url.Action("Create", "Author")>
                    <div class="form-group">
                        <label for="create-author-fname">First Name: </label>
                        <input type="text" class="form-control" id="create-author-fname" name="FName" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="create-author-lname">Last Name: </label>
                        <input type="text" class="form-control" id="create-author-lname" name="LName" placeholder="Enter Last Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="author-create-save" class="btn btn-primary button" data-url=@Url.Action("AddAuthor", "Author")>Save changes</button>
                <button type="button" class="btn btn-secondary button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

