@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_CreateAuthorPopup")

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-author-modal">
    Add Author
</button>
<table class="table">
    <thead id="tablehead">
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BooksCount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="tablebody" data-bind="foreach: authors">
        <tr data-bind="template: { name: Mode, data: $data }">
        </tr>
    </tbody>
</table>
<script type="text/html" id="display">
    <td data-bind="text: FirstName"></td>
    <td data-bind="text: LastName"></td>
    <td data-bind="text: BooksCount"></td>
    <td>
        <button class="btn btn-success kout-edit">Edit</button>
        <button class="btn btn-danger kout-delete">Delete</button>
    </td>
</script>
<script type="text/html" id="edit">
    <td><input class="form-control" type="text" data-bind="value: FirstName" /></td>
    <td><input class="form-control" type="text" data-bind="value: LastName" /></td>
    <td data-bind="text: BooksCount"></td>
    <td>
        <button class="btn btn-success kout-update">Update</button>
        <button class="btn btn-danger kout-cancel">Cancel</button>
    </td>
</script>
<script>
    $(document).ready(function () {
        AuthorManagement.Initialize();
    });
    $(document).on("click", ".kout-edit", null, function (ev) {
        var current = ko.dataFor(this);
        current.Mode("edit");
    })

    $(document).on("click", ".kout-update", null, function (ev) {
        var current = ko.dataFor(this);
        AuthorManagement.saveData(current);
        current.Mode("display");
    })
</script>
