@{
    ViewBag.Title = "Home Page";
}


<table class="table">
    <thead id="tablehead">
        <tr>
            <th scope="col">AuthorId</th>
            <th scope="col">Title</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Authors</th>
            <th scope="col">Rating</th>
            <th scope="col">PageCount</th>
        </tr>
    </thead>
    <tbody id="tablebody" data-bind="foreach: books">
        <tr>
            <td data-bind="text: BookId"></td>
            <td data-bind="text: Title"></td>
            <td data-bind="text: ReleaseDate"></td>
            <td data-bind="foreach: Authors">
                <div><a><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></a>, </div>
            </td>
            <td data-bind="text: Rating"></td>
            <td data-bind="text: PageCount"></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        Actions.Initialize();
    });
</script>
