@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_CreateBookPopup")

<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 offset-lg-2 offset-md-2 offset-sm-2">
            <button type="button" class="btn btn-primary bg-c-primary" id="book-create" data-url=@Url.Action("GetAuthors", "Book")>
                Add Book
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
            <table id="book-table" class="bg-c-main">
                <thead id="tablehead">
                    <tr>
                        <th scope="col" class="white-space-nowrap">Title</th>
                        <th scope="col" class="white-space-nowrap">ReleaseDate</th>
                        <th scope="col" class="white-space-nowrap">Authors</th>
                        <th scope="col" class="white-space-nowrap">Rating</th>
                        <th scope="col" class="white-space-nowrap">PageCount</th>
                        <th scope="col" class="white-space-nowrap">Actions</th>
                    </tr>
                </thead>
                <tbody id="tablebody" data-bind="dataTablesForEach : {
			data: books,
			options: { 
				deferRender: true,
				paging: true
			}
		}">
                    <tr data-bind="template: { name: Mode, data: $data }"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/html" id="display">
    <td data-bind="text: Title" class="white-space-nowrap"></td>
    <td data-bind="text: ReleaseDate" class="white-space-nowrap"></td>
    <td data-bind="foreach: Authors" class="white-space-nowrap">
        <div><a><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></a>, </div>
    </td>
    <td data-bind="text: Rating" class="white-space-nowrap"></td>
    <td data-bind="text: PageCount" class="white-space-nowrap"></td>
    <td class="white-space-nowrap">
        <button id="edit-book-button" class="btn btn-success kout-edit bg-c-primary">Edit</button>
        <button class="btn btn-danger kout-delete bg-c-primary" id="book-delete" data-url=@Url.Action("Delete", "Book")>Delete</button>
    </td>
</script>
<script type="text/html" id="edit">
    <td class="white-space-nowrap"><input class="form-control max-w-280" type="text" data-bind="value: Title" /></td>
    <td class="white-space-nowrap"><input class="form-control max-w-280" type="date" data-bind="value: ReleaseDate" /></td>
    <td class="white-space-nowrap">
        <select id="edit-book-authors" class="form-control select-author max-w-280" multiple="multiple" name="Authors" data-bind="options: $parents[1].allauthors(), selectedOptions: Authors, optionsText: 'FullName', optionsValue: 'AuthorId'"></select>
    </td>
    <td class="white-space-nowrap"><input class="form-control max-w-280" type="number" data-bind="value: Rating" min="0" max="10"></td>
    <td class="white-space-nowrap"><input class="form-control max-w-280" type="number" data-bind="value: PageCount"></td>
    <td class="white-space-nowrap">
        <button class="btn btn-success kout-update bg-c-primary" id="book-update" data-url=@Url.Action("Edit", "Book")>Update</button>
    </td>
</script>
<script>
    $(document).ready(function () {
        
        BookManagement.Initialize();
    })
    $(document).on("click", ".kout-edit", null, function (ev) {
        var current = ko.dataFor(this);
        current.Mode("edit");
    })

    $(document).on("click", ".kout-update", null, function (ev) {
        var current = ko.dataFor(this);
        BookManagement.saveData(current);
        current.Mode("display");
    })

    $(document).on("click", ".kout-delete", null, function (ev) {
        var current = ko.dataFor(this);
        BookManagement.OnDeleteClick(current);
    })
</script>


