@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_CreateAuthorPopup")

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-author-modal">
    Add Author
</button>
<table class="table">
    <thead id="tablehead">
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BooksCount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="tablebody" data-bind="foreach: authors">
        <tr>

            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: BooksCount"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        AuthorManagement.Initialize();
    });
</script>
