@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_CreateBookPopup")

<button type="button" class="btn btn-primary" id="book-create" data-url=@Url.Action("GetAuthors", "Book")>
    Add Book
</button>
<table class="table">
    <thead id="tablehead">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Authors</th>
            <th scope="col">Rating</th>
            <th scope="col">PageCount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="tablebody" data-bind="foreach: books">
        <tr data-bind="template: { name: Mode, data: $data }">
        </tr>
    </tbody>
</table>

<script type="text/html" id="display">
    <td data-bind="text: Title"></td>
    <td data-bind="text: ReleaseDate"></td>
    <td data-bind="foreach: Authors">
        <div><a><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></a>, </div>
    </td>
    <td data-bind="text: Rating"></td>
    <td data-bind="text: PageCount"></td>
    <td>
        <button id ="edit-book-button" class="btn btn-success kout-edit">Edit</button>
        <button class="btn btn-danger kout-delete">Delete</button>
    </td>
</script>
<script type="text/html" id="edit">
    <td><input class="form-control" type="text" data-bind="value: Title" /></td>
    <td><input class="form-control" type="date" data-bind="value: ReleaseDate" /></td>
    <td>
        <select id="edit-book-authors" class="form-control" name="Authors" data-bind="options: Authors, optionsText: 'FirstName', value: 'AuthorId'"></select>
    </td>
    <td><input class="form-control" type="number" data-bind="value: Rating" min="0" max="10"></td>
    <td><input class="form-control" type="number"  data-bind="value: PageCount"></td>
    <td>
        <button class="btn btn-success kout-update">Update</button>
        <button class="btn btn-danger kout-cancel">Cancel</button>
    </td>
</script>
<script>
    $(document).ready(function () {
        BookManagement.Initialize();
    });
    $(document).on("click", ".kout-edit", null, function (ev) {
        var current = ko.dataFor(this);
        current.Mode("edit");
    })

    $(document).on("click", ".kout-update", null, function (ev) {
        var current = ko.dataFor(this);
        BookManagement.saveData(current);
        current.Mode("display");
    })
</script>


