@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_CreateBookPopup")

<button type="button" class="btn btn-primary" id="book-create" data-url=@Url.Action("GetAuthors", "Book")>
    Add Book
</button>
<table class="table">
    <thead id="tablehead">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ReleaseDate</th>
            <th scope="col">Authors</th>
            <th scope="col">Rating</th>
            <th scope="col">PageCount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody id="tablebody" data-bind="foreach: books">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: ReleaseDate"></td>
            <td data-bind="foreach: Authors">
                <div><a><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></a>, </div>
            </td>
            <td data-bind="text: Rating"></td>
            <td data-bind="text: PageCount"></td>
            <td></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        BookManagement.Initialize();
    });
</script>

